<!DOCTYPE html> 
<html lang="en-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables</title>
    <link rel="stylesheet" href="../../../css/panel-control.css">
</head>
    <body>
        <div class="content-indicador">
                <div class="indicador-avance-card">
                    <p>VIGENCIA <b>2026</b></p>
                    <a class="porcentaje"> AVANCE 0%</a>
                </div>
            </div>
              <div class="content-menu-variables">
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Suscriptores</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Continuidad</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">PQR</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Micromedicion</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Caudal</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Vertimiento</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Lodos</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Red Acueducto</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Red alcantarillado</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Energia</a>
                    </div>
                    <div class="menu-variable-item">
                        0%
                    <a href="#">Personal</a>
                    </div>
             </div>
    </body>
</html>