<!DOCTYPE html> 
<html lang="en-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../../../css/ingreso_datos.css">
</head>
    <body>
        <div class="content-input">
                <div class="input-usuarios">
                    <div class="input-usuarios-title">
                        <h2>USUARIOS</h2>
                    </div>
                    
                    <a>Usuarios Acueducto:</a>
                    <input type="text" placeholder="Digita usuarios">
                    <a>Usuarios Alcantarillado:</a>
                    <input type="text" placeholder="Digita usuarios">
                    <a>Total viviendas:</a>
                    <input type="text" placeholder="Digita numero de viviendas">
                    <button class="btn btn-guardar">Guardar</button>
                </div>
             </div>
   </body>
</html>