<!DOCTYPE html>
<html lang="en-es">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVIN NET</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <div class="container">
        <section class="container-logo">
            <img src="../../public/Images/Servin Net Logo_Principal.png" class="logo_principal" alt="SERVIN NET Logo">
        </section>
        <div class="container-form">
            <div class="container-login">
                <a>Usuario:</a>
                <input type="text" placeholder="Escribe tu usuario" class="input">
                <a>Contraseña:</a>
                <input type="password" placeholder="*********" class="input">
                <button class="btn btn-login">Iniciar Sesión</button>
            </div>
        </div>
        
    </div>
</body>
</html>