<!DOCTYPE html>
<html lang="en-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe SUI</title>
    <link rel="stylesheet" href="../css/informe_sui.css">
</head>
    <body>
        <nav class="header-container">
            <div class="header-logo">
                <img src="../Images/Servin Net Logo_Principal.png" class="logo-header" alt="SERVIN NET Logo">
            </div>
            <nav class="header-menu">
                <ul>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/panel_control">Panel de control</a></li>
                    <li><a href="/ingreso_datos" >Ingreso de datos</a></li>
                    <li><a href="/informes_sui" class="menu-selected">Informes SUI</a></li>
                </ul>
            </nav>
            <nav class="header-usuario">
                <a>Usuario:</a>
                <a>Empresas Públicas de Baraya ESP</a>
                <a>NIT: 999.999.999</a>
                <button class="btn btn-logout">Cerrar Sesión</button>
            </nav>
        </nav>
        
    </body>
</html>